<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to draw an owl</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>
Step 3
</h2>
<p>
    Draw the rest of the owl
<form th:action="@{/}">
    <input type="submit" value="That's it."/>
</form>
</p>
<img th:src="@{/img/owl2.jpg}" alt="Pencils">
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>